<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="orderServiceApp.orderServiceInvoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orderServiceApp.orderServiceInvoice.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{invoice.customerName}}</span>
                </dd>
                <dt><span jhiTranslate="orderServiceApp.orderServiceInvoice.grossTotal">Gross Total</span></dt>
                <dd>
                    <span>{{invoice.grossTotal}}</span>
                </dd>
                <dt><span jhiTranslate="orderServiceApp.orderServiceInvoice.orderLine">Order Line</span></dt>
                <dd>
                    <div *ngIf="invoice.orderLineId">
                        <a [routerLink]="['/order-line', invoice.orderLineId, 'view']">{{invoice.orderLineId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
