<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.detail.title">Stock</span> {{stock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.stockBuyingPrice">Stock Buying Price</span></dt>
                <dd>
                    <span>{{stock.stockBuyingPrice}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.grossProfit">Gross Profit</span></dt>
                <dd>
                    <span>{{stock.grossProfit}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.units">Units</span></dt>
                <dd>
                    <span>{{stock.units}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.product">Product</span></dt>
                <dd>
                    <div *ngIf="stock.productId">
                        <a [routerLink]="['/product', stock.productId, 'view']">{{stock.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceStock.category">Category</span></dt>
                <dd>
                    <div *ngIf="stock.categoryId">
                        <a [routerLink]="['/category', stock.categoryId, 'view']">{{stock.categoryId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
