<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderLine">
            <h2><span jhiTranslate="inventoryserviceApp.inventoryserviceOrderLine.detail.title">Order Line</span> {{orderLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceOrderLine.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{orderLine.orderDate}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceOrderLine.orderStatus">Order Status</span></dt>
                <dd>
                    <span>{{orderLine.orderStatus}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceOrderLine.productId">Product Id</span></dt>
                <dd>
                    <span>{{orderLine.productId}}</span>
                </dd>
                <dt><span jhiTranslate="inventoryserviceApp.inventoryserviceOrderLine.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{orderLine.customerId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-line', orderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
